body {
  background-color: #10141B;
  color: white;
}

.div-wand {
  display: flex;
  justify-content: space-between;
}

.div-wand img {
  width: 20em;
  height: 0.5em;
}

@font-face {
  font-family: HarryP;
  src: local(HarryP), url(./Fontes/HARRYP__.TTF) format('truetype');
  font-weight: normal;
  font-style: normal;
}

.title {
  font-family: HarryP;
  font-size: 4em;
}

.main-content {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
  background-image: url(./images/logoTransparente.png);
  background-size: 35em;
  background-repeat: no-repeat;
  background-position: center center;
}

#evaluation-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 675px;
}

#input-name, #input-lastname, #input-email, #house {
  width: 20em;
  height: 3em;
  border-radius: 10px;
  border: none;
  text-align: center;
  margin: 0.5em;
}

.div_btn {
  display: flex;
  justify-content: center;
  margin-bottom: 2em;
}

#counter {
  margin-top: 10px;
  margin-bottom: 3px;
}

#evaluation-form h2 {
  margin: 10px auto;
}

.family-div , .content-div , .textarea-div {
  display: flex;
  flex-direction: column;
}

.form-box {
  display: flex;
}

.header img {
  height: 100px;
}

.personal-info-div {
  display: flex;
  justify-content: space-around;
  margin: 10px;
}

.email-and-house-div {
  display: flex;
  justify-content: stretch;
  margin: 10px;
  align-items: center;
}


.email-and-house-div input , select {
  width: 40%;
  margin: 5px 5px 5px 0;
  height: 30px;
}

.email-and-house-div select {
  margin-left: 15px;
}

.family-and-content-div {
  display: flex;
  justify-content: space-around;
  margin: 10px;
}

.family-radio-btn {
  margin: 5px;
}

.family-div , .content-div {
  width: 35%;
}

.checkbox-div {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.checkbox-div input {
  margin: 10px;
}

.rate-div {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.textarea-div {
  display: flex;
  align-items: center;
  margin: 10px;
  height: 19em;
  background-image: url(./images/pergaminho.png);
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: center top;
}

#textarea {
  margin-top: 2.5em;
  width: 60%;
  height: 55%;
  border: none;
  margin-bottom: 1em;
}

#textarea:focus {
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
}

.agreement-div {
  margin: 10px;
}

#submit-btn {
  width: 20em;
  height: 3em;
  border-radius: 10px;
  border: none;
  background-color: #EEBA30;
}

.footer {
  text-align: center;
  font-weight: 800;
  color: white;
  background-color: grey;
  height: 2em;
  padding: 10px;
}
