/* CABEÇALHO */
.header {
  background-color: rgb(50, 167, 145);
  display: flex;
  justify-content: space-around;
  color: white;
}

.trybewarts-header-logo {
  height: 100px;
}

.trybewarts-login {
  display: flex;
}

/* BODY */
body {
  background-color: rgb(221, 220, 220);
}

#main {
  display: flex;
}

#evaluation-form {
  display: flex;
  width: 675px;
  flex-direction: column;
  text-align: center;
}

#dados {
  flex-wrap: wrap;
  width: 600px;
  padding: 10px;
  margin-left: 25px;
}

#trybewarts-forms-logo {
  height: 500px;
}

/* INPUTS */
input, select {
  height: 40px;
  width: 200px;
  margin-bottom: 20px;
  border-radius: 10px;
  border-color: rgb(50, 167, 145);
}
