* {
  margin: 0;
  padding: 0;
}

.header {
  background-color: rgb(50, 167, 145);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.trybewarts-login {
  display: flex;
}

.trybewarts-header-logo {
  height: 100px;
}

#trybewarts-header-title {
  color: white;
  font-size: 50px;
}

#evaluation-form {
  display: flex;
  width: 675px;
  flex-direction: column;
}

.trybewarts-forms-logo {
  height: 500px;
}

.verification {
  display: flex;
}

.main {
  display: flex;
  justify-content: space-around;
}